@model IEnumerable<AJAXTask.Models.Province>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="Reset()">Create</button>

<table class="table table-responsive" id="myTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Province Form</h3>
            </div>
            <div class="modal-body">
                <div class="form-group" hidden>
                    <label for="id" class="col-form-label">Id</label>
                    <input type="text" class="form-control" id="id">
                </div>
                <div class="form-group">
                    <label for="name" class="col-form-label">Name</label>
                    <input class="form-control" id="name" placeholder="Province Name" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Post()">Submit</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>

        var table = null;
        $(document).ready(function () {
            table = $("#myTable").DataTable({
                "filter": true,
                "orderMulti": false,
                "ajax": {
                    "url": "/Provinces/GetProvinces",
                    "datatype": "json",
                    "dataSrc": ""
                },
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [2],
                        "searchable": false,
                        "orderable": false
                    }
                ],
                "columns": [
                    { "data": "Id", "name": "Id", "autoWidth": true },
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-info" href="#" onclick="EditProvince( ' + full.Id + ')">Edit</a> ' +
                                '<a class="btn btn-danger" href="#" onclick="DeleteProvince( ' + full.Id + ')">Delete</a>'
                        }
                    }
                ]
            })
        }) 


        function GetProvince(id) {
            $.ajax({
                url: "/Provinces/GetProvince/",
                data: { id: id }
            }).then((result) => {
                $("#myModal").modal("show");

                $("#name").val(result.Name);
            }).error((error) => {
                console.log(error);
            })
        }

        function Post() {
            var province = new Object();
            province.Name = $("#name").val();
            $.ajax({
                url: "/Provinces/Post/",
                data: province
            }).then((result) => {
                if (result == 200) {
                    Swal.fire(
                        'Good job!',
                        'Your data has been saved!',
                        'success'
                    )
                    $("#myModal").modal("toggle");
                    table.ajax.reload();
                } else if (result == 400) {
                    Swal.fire(
                        'Watch Out!',
                        'Your data failed to saved!',
                        'error'
                    )
                }
            }).catch((error) => {
                Swal.fire(
                    'Warning!',
                    'Check your internet connection!',
                    'warning'
                )
            })
        }

        function EditProvince(id) {
            var province = new Object();
            province.Id = $("#Id").val();
            province.Name = $("#Name").val();

            var url = "/Home/GetProvincebyId?id=" + id;
            
            $.ajax({
                type: "GET",
                url: url,
                data: province,
                success: function (data) {
                    Swal.fire(
                        'Good job!',
                        'Your data has been saved!',
                        'success'
                    )
                    var obj = JSON.parse(data);
                    $("#ProId").val(obj.Id);
                    $("#ProName").val(obj.Name)
                }
            })
        }

        function DeleteProvince(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You will permanently lose this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/Provinces/Delete/",
                        data: { id: id }
                    }).then((result) => {
                        if (result == 200) {
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                            table.ajax.reload();
                        } else if (result == 400) {
                            Swal.fire(
                                'Failed!',
                                'Your file failed to delete.',
                                'error'
                            )
                        } else if (result == 404) {
                            Swal.fire(
                                'Warning!',
                                'Your id is not valid.',
                                'warning'
                            )
                        }
                    }).catch((error) => {
                        console.log(error);
                    })
                }
            })
        }

        function Reset() {
            $("#name").val("");
        }

    </script>


}
